// $mainFont: Helvetica, sans-serif;

// $contentBackground: #fff;

// $lightBlue: #00bfff;

// $paragraphColor: #00004d;

$mainFont: sans-serif;

$contentBackground: #fff;
$blockBackground: #e6e6e6;

$mainColor: #00bfff;

$cardHeader: #6666ff;
$borderColor: black;
$postDescription: #6666ff;
$paragraphColor: #00004d;

